.sidecard {
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center;
  text-align: center;

  border: 1px solid var(--shadow-color);
  box-shadow: 10px 10px var(--shadow-color);

  padding: 5%; /* ToDo: mobile friendly */
  width: 20%; /* ToDo: check for mobile later */
}

.content {
  background-color: var(--background-color);
  color: var(--text-color);
  display: inline-block;
  align-items: center;
  text-align: center;
  
  border: 1px solid var(--shadow-color);
  box-shadow: 10px 10px var(--shadow-color);

  padding: 5vh;

}

.placard-image {
  width: 100%;
  border-radius: 10%;
}

.placard-title {
  padding-top: 1em;
}

.pl
/* ToDo: Remove the following sections later */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
