.sidecard {
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center;
  text-align: center;

  box-shadow: 10px 10px var(--shadow-color);

  padding: 5%;
  width: inherit;
  margin-bottom: 1em;
}

.themer-row {
  position:sticky;
  top: 0;
  width: 100%;
  flex-direction: row-reverse;
}

.themer {
  background-color: var(--alt-background-color);
  color: var(--alt-text-color);
  align-items: center;
  text-align: center;
  
  float: right;
  box-shadow: 5px 5px var(--alt-shadow-color);
  
  padding: 1vh;
  margin-bottom: 0.5em;
}

.themer:hover {
  transform: translateY(-0.25em);
}

.themer:active {
  transform: translateY(0.5em);
}

.content-card {
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center;
  text-align: center;
  
  box-shadow: 10px 10px var(--shadow-color);
  
  padding: 5vh;
  margin-bottom: 1em;
  
}

.placard-image {
  width: 90%;
  box-shadow: 5px 5px var(--shadow-color);
}

.placard-title {
  padding-top: 1em;
  font-weight: bolder;
}

.placard-role {
  margin-top: 0.25em;
  font-size: 0.8em;
}

.placard-location {
  margin-top: 0.25em;
  font-size: 0.6em;
  font-weight: bold;
}

/* physical lines within cards */
.liner {
  border: 1px solid var(--shadow-color);
}

.social {
  align-items: center;
}

.social a{
  color: var(--text-color);
  margin-right: 1em;
  font-size: 1em;
}

.social a:last-child{
  margin-right: 0;
}

@media (min-width: 978px) {
  .social a {
    font-size: 0.7em;
  }
}