.footer {
  background-color: var(--accent-color);
  color: var(--primary-color);
  height: 10vh;

  padding: 3vh;
  text-align: center;
}
@media (min-width: 1280px) {
  .footer {
      font-size: 0.7em;
  }
}

#bg-source {
  font-size: 0.6em;
}

.love {
  margin-top: -10px;
  color: var(--secondary-color);
}

.love:hover {
  color: var(--primary-color);
}

.plain-jane,
#bg-source {
  color: var(--primary-color) !important;
}

.plain-jane a:hover,
#bg-source a:hover {
  text-decoration: none;
}
