.sidecard {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  align-items: center;
  text-align: center;

  box-shadow: 5px 5px var(--accent-color);

  padding: 5%;
  margin-bottom: 2em;
}
@media (min-width: 1280px) {
  .sidecard {
    position:sticky;
    top: 2em;
    width: 100%;
    box-shadow: 10px 10px var(--accent-color);
  }
}

.placard-image {
  width: 90%;
  box-shadow: 5px 5px var(--accent-color);
}

.placard-title {
  padding-top: 1em;
  font-size: 2em;
  font-weight: bolder;
}
@media (min-width: 1280px) {
  .placard-title {
    font-size: 1em;
  }
}

.placard-role {
  margin-top: 0.25em;
}
@media (min-width: 1280px) {
  .placard-role {
    font-size: 0.8em;
  }
}

.placard-location {
  margin-top: 0.25em;
}
@media (min-width: 1280px) {
  .placard-location {
    font-size: 0.6em;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 1em;
  margin-right: 1em;
}

.social a{
  color: var(--secondary-color);
  font-size: 1em;
}
@media (min-width: 1280px) {
  .social a {
    font-size: 0.7em;
  }
}

.social a:last-child{
  margin-right: 0;
}

.social a:hover{
  color: var(--accent-color);
}

/* physical lines within cards */
.liner {
  border: 1px solid var(--accent-color);
}

#lang-switcher, #next-lang-emoji {
  padding: 0;
  border: 0;
  background-color: var(--primary-color);
}

#lang-switcher {
  font-size: 0.75em;
}
