.themer-row {
  position:sticky;
  top: 0.5em;
  right: 1em;
  flex-direction: row-reverse;
  margin-left: 0 !important;
  z-index: 1; /*float above work images */
}
@media (min-width: 1280px) {
  .themer-row {
    width: 100%;
    top: 2em;
    right: 0;
  }
}

#themer {
  background-color: var(--next-primary-color);
  color: var(--next-secondary-color);
  align-items: center;
  text-align: center;
  
  float: right;
  box-shadow: 5px 5px var(--next-accent-color);
  
  padding: 1.5vh;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
@media (min-width: 1280px) {
  #themer{
    padding: 1vh;
    font-size: 1em;
  }
}

#themer:hover {
  transform: translateY(-0.25em);
}

#themer:active {
  transform: translateY(0.5em);
}

.nav-container {
  margin-right: 1em;
  padding-left: 0.5em;
  padding-top: 0.75em;

  background-color: var(--primary-color);
  box-shadow: 5px 5px var(--accent-color);
  opacity: 0.8;

  height: 3em;

  display: none;
}
@media (min-width: 1280px) {
  .nav-container {
    box-shadow: 10px 10px var(--accent-color);
    height: 2em;
    padding-top: 0;
  }
}

.navLink {
  padding-right: 0.25em;
  height: 2em;
}
