.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader {
  width: 100%;
}

#superset {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);

  min-height: 100vh;
  margin: 0;

  padding-top: 10vh;
  padding-left: 0;
  text-align: initial;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 978px) {
  #superset {
    padding-left: 20vh;
    padding-right: 10vh;
  }
}

/* Themes - name must match - only include background images here */
.sakura{
  --background-image: url('./images/sakura.jpg');
}

.waves{
  --background-image: url('./images/Waves.jpg');
}

.train{
  --background-image: url('./images/train.jpeg');
}

:root {
  --pink-1: #F5E8ED;
  --pink-7: #E83261;

  --mid-blue: #346A84;
  --dark-blue: #193656;

  /* ToDo: temporarily setting - should set on componentdidmount*/
  --theme-index: "0"; /* Use this for reading current theme and updating */

  /* ToDo: remove all values */
  --background-color: var(--pink-1);
  --text-color: black;
  --shadow-color: var(--pink-7);

  --next-background-color: var(--dark-blue);
  --next-text-color: white;
  --next-shadow-color: var(--mid-blue);
}