.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader {
  width: 100%;
}

#container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 100vh;

  padding-top: 10vh;
  padding-left: 30vh;
  text-align: initial;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.light-theme{
  --background-color: var(--pink-1);
  --text-color: black;
  --shadow-color: var(--pink-7);

  --pink-1: #F5E8ED;
  --pink-2: #FFCBE1;
  --pink-3: #FEB0CB;
  --pink-4: #EE98BD;
  --pink-5: #FF769D;
  --pink-6: #EE4D6F;
  --pink-7: #E83261;
}

.dark-theme{
  --background-color:var(--dark-blue);
  --text-color: white;
  --shadow-color: var(--mid-blue);

  --dark-brown: #C19F6F;
  --light-brown: #D9D1BA;
  --light-blue: #83B0B3;
  --mid-blue: #346A84;
  --dark-blue: #193656;
}